USE [master]
GO
/****** Object:  Database [BKHELP_DESK]    Script Date: 7/10/2023 23:51:32 ******/
CREATE DATABASE [BKHELP_DESK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BKHELP_DESK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BKHELP_DESK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BKHELP_DESK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BKHELP_DESK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BKHELP_DESK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BKHELP_DESK]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[IDCARGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NULL,
	[ESTADO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[IDEMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[REPRESENTANTE] [varchar](30) NULL,
	[RAZON_SOCIAL] [varchar](50) NULL,
	[RUC] [char](11) NULL,
	[SIGLAS] [varchar](12) NULL,
	[DIRECCION] [varchar](max) NULL,
	[ESTADO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[IDTICKET] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](200) NULL,
	[IDEMPRESA] [int] NULL,
	[IDUNI_NEG] [int] NULL,
	[MODOCOMUN] [varchar](200) NULL,
	[COORDINADOR] [int] NULL,
	[RESPONSABLE] [int] NULL,
	[FECHA_ATEN] [varchar](max) NULL,
	[FECHA_CIER] [varchar](max) NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[SOLUCION] [varchar](max) NULL,
	[ESTADO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNI_NEGOCIO]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNI_NEGOCIO](
	[IDUNI_NEG] [int] IDENTITY(1,1) NOT NULL,
	[IDEMPRESA] [int] NULL,
	[NOMBRE] [varchar](20) NULL,
	[REPRESENTANTE] [varchar](30) NULL,
	[DIRECCION] [varchar](max) NULL,
	[ESTADO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUNI_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IDEMPRESA] [int] NULL,
	[IDUNI_NEG] [int] NULL,
	[IDCARGO] [int] NULL,
	[NYA_PERSONAL] [varchar](100) NULL,
	[NOMUSU] [varchar](30) NULL,
	[CLAVE] [varchar](12) NULL,
	[ESTADO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([IDUNI_NEG])
REFERENCES [dbo].[UNI_NEGOCIO] ([IDUNI_NEG])
GO
ALTER TABLE [dbo].[UNI_NEGOCIO]  WITH CHECK ADD FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IDCARGO])
REFERENCES [dbo].[CARGO] ([IDCARGO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IDUNI_NEG])
REFERENCES [dbo].[UNI_NEGOCIO] ([IDUNI_NEG])
GO
/****** Object:  StoredProcedure [dbo].[ANULAR_TICKET]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ANULAR_TICKET]
@IDTICKET INT
AS
UPDATE TICKET SET ESTADO='ANULADO'
WHERE IDTICKET=@IDTICKET
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_TICKET]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BUSCAR_TICKET]
@IDTICKET AS INT
AS
SELECT TITULO,IDEMPRESA,IDUNI_NEG,MODOCOMUN,COORDINADOR,RESPONSABLE,FECHA_ATEN,DESCRIPCION,ESTADO
FROM TICKET WHERE IDTICKET=@IDTICKET
GO
/****** Object:  StoredProcedure [dbo].[GRABAR_TICKET]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GRABAR_TICKET]
@TITULO VARCHAR(MAX),
@IDEMPRESA INT,
@IDUNI_NEG INT,
@MODOCOMUN VARCHAR(50),
@COORDINADOR INT,
@RESPONSABLE INT,
@FECHA_ATEN  VARCHAR(11),
@DESCRIPCION VARCHAR(MAX)
AS
INSERT INTO TICKET VALUES(@TITULO,@IDEMPRESA,@IDUNI_NEG ,@MODOCOMUN ,@COORDINADOR ,@RESPONSABLE,@FECHA_ATEN,null,@DESCRIPCION,null,'ASIGNADO')
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_UNI_NEGOCIO]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_UNI_NEGOCIO]
@IDEMPRESA INT
AS 
SELECT *FROM UNI_NEGOCIO 
WHERE IDEMPRESA =@IDEMPRESA 

GO
/****** Object:  StoredProcedure [dbo].[LOGIN]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LOGIN]
@USUARIO VARCHAR(30),
@CLAVE VARCHAR(12)
AS
SELECT U.IDUSUARIO,U.NYA_PERSONAL,C.NOMBRE CARGO,E.RAZON_SOCIAL
EMPRESA,UN.NOMBRE UNI_NEGOCIO,U.ESTADO FROM USUARIO U INNER JOIN EMPRESA  E  ON
U.IDEMPRESA=E.IDEMPRESA INNER JOIN UNI_NEGOCIO UN ON
UN.IDUNI_NEG=U.IDUNI_NEG INNER JOIN  CARGO C ON
C.IDCARGO=U.IDCARGO
WHERE NOMUSU=@USUARIO AND CLAVE = @CLAVE AND U.ESTADO ='ACTIVO'
GO
/****** Object:  StoredProcedure [dbo].[VER_TK_TECNICO]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[VER_TK_TECNICO]
@IDUSUARIO INT,
@FECHA VARCHAR(11),
@ESTADO VARCHAR(11)
AS
SELECT T.IDTICKET,T.TITULO,E.RAZON_SOCIAL,UN.NOMBRE,T.FECHA_ATEN,T.ESTADO
 FROM TICKET T
INNER JOIN  EMPRESA E  ON T.IDEMPRESA=E.IDEMPRESA
INNER JOIN  UNI_NEGOCIO UN ON T.IDUNI_NEG=UN.IDUNI_NEG
WHERE T.RESPONSABLE=@IDUSUARIO AND T.FECHA_ATEN=@FECHA AND T.ESTADO=@ESTADO
GO
/****** Object:  StoredProcedure [dbo].[VER_TK_TECNICO_TECNICO]    Script Date: 7/10/2023 23:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VER_TK_TECNICO_TECNICO]
@IDTICKET INT
AS
SELECT T.IDTICKET,T.TITULO,T.DESCRIPCION
FROM TICKET T
INNER JOIN  EMPRESA E  ON T.IDEMPRESA=E.IDEMPRESA
INNER JOIN  UNI_NEGOCIO UN ON T.IDUNI_NEG=UN.IDUNI_NEG

GO
USE [master]
GO
